#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  width: 100vw;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  height: 70vh;
}